.App {
  width: 100vw;
}

.maingrid {
  width: 50px;
  height: 50px;
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.App-logo {
  position: absolute;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 999;
  justify-content: center;
}


.App-spin {
  font-size: 10rem;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.buttons {
  color: white;
  border-radius: 25px;
  width: 7vw;
  margin-right: 0vw;
  transition: all .25s ease-out;
  border: none;
  background: linear-gradient(45deg, red, rgb(67, 67, 255));
  box-shadow: 1px 1px 1px 1px #282c34
}

.buttons:hover {
  transition: all .25s ease-in-out;
  width: 7.5vw;
  border-radius: 10px;
  box-shadow: 1px 1px 3px 1px #282c34
}

.button-89 {
  --b: 3px;
  /* border thickness */
  --s: .45em;
  /* size of the corner */
  --color: #373B44;

  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b), #0000 90deg, var(--color) 0) var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 1rem;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-89:hover,
.button-89:focus-visible {
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.button-89:active {
  background: var(--color);
  color: #fff;
}

.preset-colours:hover {
  cursor: pointer;
}